Package: spotify-cli
Version: 1.0.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Linus <stimmungschaos@chaosly.de>
Description: Ein CLI-Tool für Spotify
 Ermöglicht die Steuerung von Spotify über die Kommandozeile
 mit Funktionen wie Play, Pause, Skip und mehr.


